*{
	padding: 0;
	margin:0;
	box-sizing: content-box;
}
body{
	font:14px/1.5 "Microsoft YaHei", Tahoma, "simsun", sans-serif;
	font-size: 14px;
	color: #323235;
}
.header{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 84px;
	min-width: 1280px;
	z-index: 99;
	background-color: rgba(0,0,0,0.8);
}
.head-inner{
	width: 1200px;
	position: relative;
	margin: 0 auto;
	height: 84px;
}
li{
	list-style: none;
	padding: 0;
}
.logo{
	width: 200px;
	height: 54px;
	left: 0;
	top: 16px;
	background: url(https://game.gtimg.cn/images/yxzj/web201706/images/comm/logo.png) no-repeat center center;
	text-indent: -999px;
	overflow: hidden;
}
.pa{
	position: absolute;
}
.header .title{
	width: 790px;
	padding-left: 230px;
}
.title li{
	float: left;
	width: 110px;
	height: 84px;
	text-align: center;
}
.title a{
	display: block;
	width: 110px;
	height: 64px;
	padding: 20px 0 0;
	color: #c9c9dd;
	font-size: 18px;
	line-height: 32px;
	text-decoration: none;
}

.title em{
	font-style: normal;
	display: block;
	font-size: 12px;
	line-height: 16px;
	color: #858792;
}

.title li:hover a{
	background-color: rgba(71,63,48,0.8);
	color: #e4b653;
	border-bottom: 5px solid;
}
.title li:hover em{
	color:#91763f;
}
.welcome{
	width: 182px;
	right: 0px;
	top: 21px;
}
.user-logo{
	width: 42px;
	height: 42px;
	float: left;
	margin-left: 6px;
	color: #91763f;
	border: 2px solid;
	border-radius: 30px;
}
.denglu{
	float: left;
	width: 130px;
	height: 45px;
}
a{
	text-decoration: none;
	color: #363636;
}
.denglu a{
	font-size: 16px;
	color: #fff;
	margin-left: 6px;
}
.denglu p{
	color: #797982;
	margin-left: 6px;
}